<%= form_for(@presentation, :remote => true) do |f| %>
<h1> New Presentation</h1>
  <% if @presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
      <% @presentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic %><br>
    <%= f.text_area :topic %>
  </div>
  <div class="field">
    <%= f.label :date_of_presentation %><br>
    <%= f.date_select :date_of_presentation %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :presenters %><br>
    <%= f.text_area :presenters %>
  </div>
  <div class="field">
    <%= f.label :companies %><br>
    <%= f.text_area :companies %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_area :contact %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= collection_select(:presentation, :event_id, Event.all, :id, :name)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
