<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @presentation.topic %>
</p>

<p>
  <strong>Date of presentation:</strong>
  <%= @presentation.date_of_presentation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @presentation.description %>
</p>

<p>
  <strong>Presenters:</strong>
  <%= @presentation.presenters %>
</p>

<p>
  <strong>Companies:</strong>
  <%= @presentation.companies %>
</p>

<p>
  <strong>Address:</strong>
  <%= @presentation.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @presentation.contact %>
</p>

<p>
  <strong>Event:</strong>
  <%= @presentation.event %>
</p>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
