<h1>Listing conferences</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Date of conference</th>
      <th>Description</th>
      <th>Presenters</th>
      <th>Companies</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.topic %></td>
        <td><%= conference.date_of_conference %></td>
        <td><%= conference.description %></td>
        <td><%= conference.presenters %></td>
        <td><%= conference.companies %></td>
        <td><%= conference.address %></td>
        <td><%= conference.contact %></td>
        <td><%= conference.event %></td>
        <td><%= link_to 'Show', conference %></td>
        <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
        <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>
