%h1 Listing events
%table
  %thead
    %tr
      %th Name
      %th Date of event
      %th Description
      %th Presenters
      %th Companies
      %th Address
      %th Contact
      %th
      %th
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.date_of_event
        %td= event.description
        %td= event.presenters
        %td= event.companies
        %td= event.address
        %td= event.contact
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Event', new_event_path, :id => "new_event_div"
